@media screen and (max-width:1200px) {
    .active {
        color: #fff !important;
        border-bottom: 2px solid #fff;
    }

    .upcoming_events {
        display: none;
    }

    body.toggle .navlink {
        transform: translateX(0);

    }

    .banner_box h1 {
        font-size: 50px;
    }

    .open {
        display: block;
        color: #000;
        font-size: 30px;
    }

    .closebutton {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
        color: #000;
        font-size: 25px;
    }

    .saerchbar {
        display: none;
    }


    .navlink {
        transform: translateX(-100%);
        transition: all 0.5s linear;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background: var(--primary-color);
        width: 400px;
        padding: 40px;
        margin: 0;
        z-index: 9;
    }

    .navlink ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .navbar .navlink {
        margin-left: -15px;

    }

    .navlink ul li {
        padding: 10px;
    }

    .news {
        max-width: 90%;
    }
}

@media screen and (max-width:991px) {
    .row.upcoming_events h3 {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .about_box img {
        max-width: 20%;
    }

    .single_footer.single_footer_address.below_address ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 10px;
    }

    .email-heading h4 {
        font-size: 20px;
    }

    .news img {
        max-width: 100%;
    }

    .news {
        display: block;

    }

    .email-heading h4 {
        margin: 30px auto;
        text-align: center;
        font-size: 24px;

    }

    .email-form {
        text-align: center;
    }

    .email-form input {
        width: 47%;
    }
}


@media screen and (max-width:767px) {
    .banner_box h1 {
        font-size: 55px;
        text-align: left;
    }

    .banner_box.blog_head h1 {
        font-size: 35px;
       
    }

    .news {
        max-width: 100%;
    }

    .banner_box span {
        font-size: 18px;
        text-align: left;
    }



    h2 {
        font-size: 30px;
        text-transform: capitalize;
    }

    .monte_detail {
        padding: 40px 0;
    }

    .hotel_accordian {
        padding: 40px 0;
    }

    .below_banner {
        padding: 40px 0px;
    }

    .casino_hotels_inner img {
        padding: 10px;
    }

    .section {
        padding: 40px 0;
    }

    .soccer {
        padding: 40px 0;
    }

    .about_box img {
        max-width: 30%;
    }
}


@media screen and (max-width:575px) {
    .banner_box.blog_head h1 {
        font-size: 30px;
    }
    .box img {
        width: 100%;
    }

    .about_box img {
        max-width: 44%;
    }

    .news-form input {
        width: 100%;
    }

    .seven h2 {
        display: block;
        width: 100%;

    }

    .banner_box h1 {
        font-size: 35px;
    }

    .banner_box span {
        font-size: 16px;
    }

    .row.upcoming_events {
        padding-left: 20px;
        margin-left: 20px;
    }

    .row.upcoming_events h3 {
        font-size: 28px;
    }

    .panel-default>.panel-heading a {
        font-size: 18px;
        padding: 20px 17px;
    }

    .single_footer h4 {
        margin-top: 20px;
        margin-bottom: 5px;
    }


    .soccer_img {
        display: flex;
        flex-direction: column;
    }

    img.second {
        display: none;
    }

    .seven h2:after,
    .seven h2:before {
        display: none;
    }

    .social_profile.upper {
        display: none;
    }

    .news-form button {
        width: 30%;
        margin-top: 10px;
    }

    .navbar .navlink {
        margin-left: 0;
        width: 100%;
    }

    .user_box img {
        width: 40%;
    }

    .email-form input {
        width: 70%;
        margin-bottom: 10px;
    }
}